keybinds clear-defaults=true {
    locked {
        bind "Ctrl g" { SwitchToMode "Normal"; }
    }

    normal {
        bind "Ctrl h" { MoveFocus "Left"; }
        bind "Ctrl j" { MoveFocus "Down"; }
        bind "Ctrl k" { MoveFocus "Up"; }
        bind "Ctrl l" { MoveFocus "Right"; }

        bind "Ctrl Shift h" { MovePane "Left"; }
        bind "Ctrl Shift j" { MovePane "Down"; }
        bind "Ctrl Shift k" { MovePane "Up"; }
        bind "Ctrl Shift l" { MovePane "Right"; }

        bind "Ctrl Alt h" { Resize "Increase Left"; }
        bind "Ctrl Alt j" { Resize "Increase Down"; }
        bind "Ctrl Alt k" { Resize "Increase Up"; }
        bind "Ctrl Alt l" { Resize "Increase Right"; }
        bind "Ctrl Shift Alt h" { Resize "Decrease Left"; }
        bind "Ctrl Shift Alt j" { Resize "Decrease Down"; }
        bind "Ctrl Shift Alt k" { Resize "Decrease Up"; }
        bind "Ctrl Shift Alt l" { Resize "Decrease Right"; }

        bind "Super h" { GoToPreviousTab; }
        bind "Super l" { GoToNextTab; }
        bind "Super Shift h" { MoveTab "Left"; }
        bind "Super Shift l" { MoveTab "Right"; }
        bind "Super t" { NewTab; }
        bind "Super w" { CloseTab; }
        bind "Super 1" { GoToTab 1; }
        bind "Super 2" { GoToTab 2; }
        bind "Super 3" { GoToTab 3; }
        bind "Super 4" { GoToTab 4; }
        bind "Super 5" { GoToTab 5; }
        bind "Super 6" { GoToTab 6; }
        bind "Super 7" { GoToTab 7; }
        bind "Super 8" { GoToTab 8; }
        bind "Super 9" { GoToTab 9; }

        bind "Ctrl d" { NewPane "Down"; }
        bind "Ctrl r" { NewPane "Right"; }
        bind "Ctrl s" { NewPane "stacked"; }
        bind "Ctrl f" { ToggleFocusFullscreen; }
        bind "Ctrl Space" {
            Run "fish" {
                name "scratch"
                floating true
                close_on_exit true
                x "7%"
                y "9%"
                width "86%"
                height "78%"
            }
        }
        bind "Ctrl Shift w" { CloseFocus; }

        bind "Alt [" { PreviousSwapLayout; }
        bind "Alt ]" { NextSwapLayout; }
        bind "Alt f" { ToggleFloatingPanes; }
        bind "Alt p" { TogglePaneInGroup; }
        bind "Alt Shift p" { ToggleGroupMarking; }
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl q" { Detach; }
    }

    scroll {
        bind "Esc" "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
    }

    search {
        bind "Esc" "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "Down"; }
        bind "p" { Search "Up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }

    entersearch {
        bind "Esc" "Ctrl c" { SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Search"; }
    }
}

plugins {
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    configuration location="zellij:configuration"
    plugin-manager location="zellij:plugin-manager"
    about location="zellij:about"
    strider location="zellij:strider"
}

themes {
    gruvbox {
        text_unselected {
            base 235 219 178
            background 29 32 33
            emphasis_0 184 187 38
            emphasis_1 250 189 47
            emphasis_2 142 192 124
            emphasis_3 254 128 25
        }
        text_selected {
            base 255 255 255
            background 80 73 69
            emphasis_0 166 226 46
            emphasis_1 250 189 47
            emphasis_2 102 217 239
            emphasis_3 254 128 25
        }
        ribbon_unselected {
            base 235 219 178
            background 60 56 54
            emphasis_0 184 187 38
            emphasis_1 250 189 47
            emphasis_2 142 192 124
            emphasis_3 254 128 25
        }
        ribbon_selected {
            base 29 32 33
            background 166 226 46
            emphasis_0 29 32 33
            emphasis_1 29 32 33
            emphasis_2 29 32 33
            emphasis_3 29 32 33
        }
        table_title {
            base 250 189 47
            background 29 32 33
            emphasis_0 184 187 38
            emphasis_1 142 192 124
            emphasis_2 211 134 155
            emphasis_3 254 128 25
        }
        table_cell_unselected {
            base 235 219 178
            background 29 32 33
            emphasis_0 184 187 38
            emphasis_1 250 189 47
            emphasis_2 142 192 124
            emphasis_3 254 128 25
        }
        table_cell_selected {
            base 255 255 255
            background 80 73 69
            emphasis_0 166 226 46
            emphasis_1 250 189 47
            emphasis_2 102 217 239
            emphasis_3 254 128 25
        }
        list_unselected {
            base 235 219 178
            background 29 32 33
            emphasis_0 184 187 38
            emphasis_1 250 189 47
            emphasis_2 142 192 124
            emphasis_3 254 128 25
        }
        list_selected {
            base 255 255 255
            background 80 73 69
            emphasis_0 166 226 46
            emphasis_1 250 189 47
            emphasis_2 102 217 239
            emphasis_3 254 128 25
        }
        frame_unselected {
            base 80 73 69
            background 29 32 33
            emphasis_0 184 187 38
            emphasis_1 250 189 47
            emphasis_2 142 192 124
            emphasis_3 254 128 25
        }
        frame_selected {
            base 166 226 46
            background 29 32 33
            emphasis_0 166 226 46
            emphasis_1 250 189 47
            emphasis_2 102 217 239
            emphasis_3 254 128 25
        }
        frame_highlight {
            base 254 128 25
            background 29 32 33
            emphasis_0 166 226 46
            emphasis_1 250 189 47
            emphasis_2 102 217 239
            emphasis_3 254 128 25
        }
        exit_code_success {
            base 166 226 46
            background 29 32 33
            emphasis_0 166 226 46
            emphasis_1 250 189 47
            emphasis_2 102 217 239
            emphasis_3 254 128 25
        }
        exit_code_error {
            base 251 73 52
            background 29 32 33
            emphasis_0 166 226 46
            emphasis_1 250 189 47
            emphasis_2 102 217 239
            emphasis_3 254 128 25
        }
        multiplayer_user_colors {
            player_1 166 226 46
            player_2 102 217 239
            player_3 253 151 31
            player_4 174 129 255
            player_5 249 38 114
            player_6 230 219 116
            player_7 142 192 124
            player_8 250 189 47
            player_9 211 134 155
            player_10 254 128 25
        }
    }
}

theme "gruvbox"
default_layout "battlestation"
default_mode "normal"
pane_frames true
mouse_mode true
copy_command "pbcopy"
copy_clipboard "system"
show_startup_tips false
show_release_notes false

web_client {
    font "monospace"
}
